<!DOCTYPE html>
<html>
<head>
  <title>Dmmyix</title>
  <%= stylesheet_link_tag    "dmmyix/application", media: "all" %>
  <%= javascript_include_tag "dmmyix/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
